<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120774320101-l12d0kphdilje7ed4d21q9lcq1nc29ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120774320101-l12d0kphdilje7ed4d21q9lcq1nc29ad</string>
	<key>API_KEY</key>
	<string>AIzaSyCSbvkShvHWvnbVs_wj3AqiZODnbwRKU3o</string>
	<key>GCM_SENDER_ID</key>
	<string>120774320101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gami</string>
	<key>PROJECT_ID</key>
	<string>gami-bdd5c</string>
	<key>STORAGE_BUCKET</key>
	<string>gami-bdd5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120774320101:ios:7752077e1566b5bfac590c</string>
</dict>
</plist>